{% extends 'base.html' %}

{% block title %}Add Flight{% endblock %}


{% block body %}
<div class='card'>
    <div class='card-body'>
        <h3 class='card-title text-info'>Add Flight</h3>
        <form method="POST">
            {{form.hidden_tag()}}
            {% for field in form.errors %}
            <div class="alert alert-danger">{{ field }}:
                <ul>
                    {% for error in form.errors[field] %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group row">
                    {{field.label(class="col-sm-2 col-form-label")}}
                    <div class="col-sm-10">
                        {{field(class="form-control")}}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button id="submit" name="submit" class="btn btn-primary" value="1">Add</button>
                    <a href="/home" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>





{% endblock %}