{% extends 'base.html' %}

{% block title %}
{{user.username}}'s Carbon Footprint
{% endblock %}


{% block body %}

<div id='card-holder' class='mx-auto'>
<!-- ====== HOME ELECTRICITY USAGE ====== -->
<div id='electricity-card' class='card mx-auto my-4'>
  <a class='card-body'>
    <h3 class='card-title titles'>Electricity Usage</h3>
      <table class='table table-striped table-dark '>
        <thead class ='thead-dark'>
        <tr>
          <th scope='col'>Month</th>
          <th scope='col'>Usage</th>
          <th scope='col'>Carbon</th>
          <th scope='col'></th>
        </tr>
        </thead>
        {% for field in user.homeusage %}
          <tr id='{{field.id}}'>
              <td>{{field.month_name}}</td> 
              <td><span class='electricUsage'>{{field.usage}}</span> kWh</td>
              <td><span class='electricCarbon'>{{field.carbon_lb}}</span> lbs</td>
              <td><button class='btn-outline-danger btn btn-sm rhu btn-table'>Delete</button></td>
            </tr>
        {% endfor %}
        <tr>
          <td>Total</td> 
          <td><span id='totalElectricityUsage'></span> kWh</td>
          <td><span id='totalElectricityCarbon'></span> lbs</td>
          <td></td>
        </tr>
      </table>
      <div class="input-group">
        <span class="input-group-btn">
          <a href='/home/addhomeusage'><button class="btn btn-select">Add Usage</button></a>
        </span>
      </div>
    </div>
</div>

<!-- ====== Vehicle Mileage ====== -->
<div id='vehicle-card' class='card mx-auto my-4'>
  <a class='card-body'>
    <h3 class='card-title titles'>Vehicle Mileage</h3>
      <table class='table table-striped table-dark'>
        <thead class ='thead-dark'>
        <tr>
          <th scope='col'>Month</th>
          <th scope='col'>Vehicle</th>
          <th scope='col'>Mileage</th>
          <th scope='col'>Carbon</th>
          <th scope='col'></th>
        </tr>
        </thead>
        {% for field in user.vehicleusage %}
            <tr id='{{field.id}}'>
              <td>{{field.month_name}}</td> 
              <td>{{field.vehicle.name}}</td> 
              <td><span class='vehicleMileage'>{{field.mileage}}</span> mi</td>
              <td><span class='vehicleCarbon'>{{field.carbon_lb}}</span> lbs</td>
              <td><button class='rvu btn btn-sm btn-table btn-outline-danger'>Delete</button></td>
            </tr>
        {% endfor %}
        <tr>
          <td>Total</td> 
          <td></td>
          <td><span id='totalVehicleMileage'></span>mi</td>
          <td><span id='totalVehicleCarbon'></span> lbs</td>
          <td></td>
        </tr>
      </table>
        <div class="input-group btn-toolbar">
          <span class="input-group-btn">
            <a href='/home/addvehicle'><button class="btn btn-select">Add Vehicle</button></a>
          <a href='/home/addvehicleusage'><button id='add-vehicle-usage' class="btn btn-select">Add Mileage</button></a>
          </span>
        </div>
    </div>
</div>



<!-- ====== FLIGHT FOOTPRINT ====== -->
<div id='flights-card' class='card mx-auto my-4'>
  <a class='card-body'>
    <h3 class='card-title titles'>Flights</h3>
      <table class='table table-striped table-dark'>
        <thead class ='thead-dark'>
        <tr>
          <th scope='col'>Departure</th>
          <th scope='col'>Destination</th>
          <th scope='col'>Mileage</th>
          <th scope='col'>Carbon</th>
          <th scope='col'></th>
        </tr>
        </thead>
        {% for field in user.flights %}
          <tr id='{{field.id}}'>
              <td>{{field.departure}}</td> 
              <td>{{field.destination}}</td>
              <td><span class='flightMileage'>{{field.mileage}}</span> mi</td>
              <td><span class='flightCarbon'>{{field.carbon_lb}}</span> lbs</td>
              <td><button class='rf btn btn-sm btn-outline-danger btn-table'>Delete</button></td>
            </tr>
        {% endfor %}
        <tr>
          <td>Total</td> 
          <td></td>
          <td><span id='totalFlightMileage'></span> mi</td>
          <td><span id='totalFlightCarbon'></span> lbs</td>
          <td></td>
        </tr>
      </table>
      <div class="input-group">
        <span class="input-group-btn">
          <a href='/home/addflight'><button class="btn btn-select">Add Flight</button></a>
        </span>
      </div>
    </div>
</div>
</div>











{% endblock %}